<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="hrlogout">Logout </a>
     

    
    <h1>{{object.jobtitle }}</h1>
    <p>{{object.jobdescription }}</p>
    <p>{{object.experience}}</p>
    <p>{{object.uploadimag}}</p>
    <p>{{object.technology}}</p>
    <p>{{object.postdate}}</p>
    <p>{{object.duedate}}</p>
</form>

</body>
</html>